doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title MANGA 3D
    link(rel="shortcut icon", href="assets/favicon.png", type="image/x-icon")
    style.
      *,
      *::after,
      *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body,
      html {
        width: 100%;
        height: 100%;
      }

      body {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: mover 8s linear infinite alternate both;
      }

      .manga {
        width: 400px;
        height: 600px;
        transform: skewX(10deg) scale(0.7);
        position: relative;
        transition: 0.5s;
      }

      .manga img {
        width: 100%;
        height: 100%;
      }

      .manga::before {
        position: absolute;
        content: '';
        color: white;
        width: 1.5rem;
        height: 100%;
        background-color: black;
        transform: skewY(-45deg);
        left: -23px;
        top: 12px;
      }

      .manga .texto {
        position: absolute;
        width: 1.5rem;
        height: 100%;
        background-color: transparent;
        transform: skewY(-45deg);
        left: -23px;
        top: 12px;
        display: flex;
        justify-content: center;
        color: white;
        font-family: 'arial black';
        writing-mode: vertical-lr;
        text-orientation: upright;
      }

      .manga .parte-inferior {
        position: absolute;
        height: 1.5rem;
        width: 100%;
        background-color: #fff;
        transform: skewX(-45deg);
        left: -11px;
        bottom: -24px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      .manga .parte-inferior .linea {
        width: 100%;
        height: 0.5px;
        background-color: black;
      }

      .center:hover .manga {
        transform: skewX(10deg) scale(0.7) rotate(-10deg);
      }

      @media (width <= 1200px) and (orientation: portrait) {
        .center .manga {
          transform: skewX(10deg) scale(0.5);
        }

        .center .parte-inferior .linea {
          height: 0.3px;
        }

        .center:hover .manga {
          transform: skewX(10deg) scale(0.6) rotate(-10deg);
        }
      }

      @media (width <= 1000px) and (orientation: landscape) {
        .center .manga {
          transform: skewX(10deg) scale(0.3) rotate(-20deg);
        }

        .center .parte-inferior .linea {
          height: 0.3px;
        }

        .center:hover .manga {
          transform: skewX(10deg) scale(0.4) rotate(-30deg);
        }
      }

      @keyframes mover {
        0% {
          background-image: radial-gradient(circle at 100% 100%, magenta, mediumspringgreen);
        }
        50% {
          background-image: radial-gradient(circle at 50% 50%, magenta, mediumspringgreen);
        }
        100% {
          background-image: radial-gradient(circle at 100% 100%, magenta, mediumspringgreen);
        }
      }
  body
    .center
      .manga
        img(src="assets/n1.avif", alt="manga")
        .texto ATTACK ON TITAN
        .parte-inferior
          .linea
          .linea
          .linea
          .linea
          .linea
          .linea
